<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="header">
      <h1>{{title}}</h1>
    </div>
    <div class="body">
      <p>{{body}}</p>
    </div>
    <div class="footer">
      <div><a href="{{author.web}}">{{author.name}}</a>
      </div>
      <ul>
        {{#each tags}}
        <li>{{this}}</li>
        {{/each}}
      </ul>
    </div>
  </body>
</html>
</div>